[submodule "goguardianWebsite"]
	path = goguardianWebsite
	url = https://github.com/rschoolu/goguardianWebsite
[submodule "Virtual-Guess-Who-Board"]
	path = Virtual-Guess-Who-Board
	url = https://github.com/rschoolu/Virtual-Guess-Who-Board
[submodule "checkers"]
	path = checkers
	url = https://www.github.com/rschoolu/checkers
