.bigtext {
    font-size: 18px;
}
.biggertext {
    font-size: 20px;
}
.title {
    font-size: 25px;
}
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: black;
    text-align: center;
    color: white;
}
a {
    color: white;
    text-decoration: none;
}
.link:hover {
    text-decoration: underline;
}