@keyframes righta {
  from{}
  to{left: 5px;}
}
@keyframes lefta {
  from{}
  to{left: -5px;}
}
@keyframes leftaback {
  from{}
  to{left: -5px;}
}
@keyframes riteback {
  from{left:5px;}
  to{}
}
.linkright {
  left: 0;
  animation: riteback 100ms 1;
  position: relative;
}
.linkright:hover {
 animation: righta 100ms 1; 
}
.linkleft {
  left: 0;
  animation: leftaback 100ms 1; 
}
.linkleft:hover {
 animation: lefta 100ms 1; 
}
